@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-indie {
  font-family: "Indie Flower", cursive;
}

@layer base {
  body {
    @apply bg-[#1B2316];
  }
}
